<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @place.area_id %>
</p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Category:</b>
  <%= @place.category %>
</p>

<p>
  <b>Phone:</b>
  <%= @place.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @place.email %>
</p>

<p>
  <b>Www:</b>
  <%= @place.www %>
</p>

<p>
  <b>Stars:</b>
  <%= @place.stars %>
</p>

<p>
  <b>Geo location:</b>
  <%= @place.geo_location %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
